<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataforma de Contenido Corporativo</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="header">
        <h1>Plataforma de Contenido Corporativo</h1>
        <p>Soluciones de comunicación y gestión de archivos para tu equipo.</p>
    </div>

    <div class="container">
        <!-- Recuadro para subir solo archivos de audio -->
        <div class="card">
            <h2>Subir Archivos de Audio 🎧</h2>
            <input type="file" id="audioInput" accept="audio/*" multiple>
            <button id="uploadAudioButton">Subir Audio</button>
            <p id="uploadAudioStatus"></p>
        </div>

        <!-- Recuadro para subir solo archivos de video -->
        <div class="card">
            <h2>Subir Archivos de Video 🎬</h2>
            <input type="file" id="videoInput" accept="video/*" multiple>
            <button id="uploadVideoButton">Subir Video</button>
            <p id="uploadVideoStatus"></p>
        </div>

        <!-- Recuadro para subir archivos de video con audio -->
        <div class="card">
            <h2>Subir Video con Audio 🎥🔊</h2>
            <input type="file" id="videoAudioInput" accept="video/*,audio/*" multiple>
            <button id="uploadVideoAudioButton">Subir Video/Audio</button>
            <p id="uploadVideoAudioStatus"></p>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <h2>Compartir y Grabar Sesión</h2>
            <button id="startSharing">Iniciar Compartir</button>
            <button id="stopSharing" style="display: none;">Detener Compartir</button>
            <button id="startRecording" style="display: none;">Grabar</button>
            <button id="stopRecording" style="display: none;">Detener Grabación</button>
            
            <video id="videoPlayer" autoplay></video>
        </div>

        <!-- Nueva tarjeta para ir a la página de resultados -->
        <div class="card">
            <h2>Ver Resultados 📊</h2>
            <a href="/results" class="button-link">Ir a la página de resultados</a>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>